@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	min-height: 100vh;
	padding: 0 2rem;
}

.row {
	display: flex;
	flex-wrap: wrap;
}

.cell {
	padding: 0;
	margin: 0;
}

.block-info {
	display: flex;
	justify-content: center;
	flex-direction: column;
	width: 120px;
	padding: 8px;
}

.block-info p {
	font-size: bold;
	margin-top: 4px;
}

.cell button {
	width: 120px;
	height: 120px;
	color: black;
	background-color: white;
	border: 1px solid black;
	cursor: pointer;
	text-align: center;
	padding: 10px;
	font-size: 24px;
}

.cell button:disabled {
	background-color: #d3d3d3;
}

.reset-button {
	background-color: aquamarine;
	padding: 10px;
	border: 0;
	border-radius: 5px;
	cursor: pointer;
	margin: 0 5px;
}

.reset-button:disabled {
	background-color: #d3d3d3;
}

.play-computer {
	background-color: aqua;
	padding: 10px;
	border: 0;
	border-radius: 5px;
	cursor: pointer;
	margin: 0 5px;
}

.play-computer:disabled {
	background-color: #d3d3d3;
}
